* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border;
}

.header {
  background: linear-gradient(to right top, #12c2e9, #c471ed, #f64f59 );  
  position: relative;
  
}

.title {
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  text-align: center;
  font-weight: 300;
}

.container {
  height: 86vh;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  background: url();
}
/* first section */
.section-one {
  background: linear-gradient(to right top, #F2994A, #F2C94C );
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: relative;
}

p {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #C33764;
  font-weight: 500;
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
}
#hands {
  margin: 20px;
  height: 100px;
  width: 100px;
}

#btn {
  position: absolute;
  left: 700px;
  top: 266px;
  height: 60px;
  width: 120px;
  border-radius: 30px;
  background-color: #de6161;
  border: 2px solid #43C6AC;
  z-index: 1;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;

}

#btn:hover {
  background-color: #2C3E50;
  color: #E1F5C4;
  transition-duration: 400ms;
}

/* second section */
.section-two {
  background: linear-gradient(to right top, #EDE574, #E1F5C4);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: relative;
}

#id {
  height: 150px;
  width: 400px;
}

/* third section */
.section-three {
  background: linear-gradient(to right top, #56CCF2, #2F80ED);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: relative;
}

#face {
  padding-top: 10px;
  height: 150px;
  width: 100px;
}


/* fourth section */
.section-four {
  background: linear-gradient(to right top, #D3CCE3, #E9E4F0);
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  position: relative;
}

#doctor {
  padding-top: 10px;
  height: 150px;
  width: 100px;
  
}


/* footer */
footer {
  background: linear-gradient(to right top, #12c2e9, #c471ed, #f64f59 );  
  justify-content: center;
  align-items: center;
  display: flex;
  
}

#source {
  font-size: 33px;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  text-align: center;
  font-weight: 300;
}




